%inh {
    font-family: sans-serif;
    font-weight: bold;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

.main {
    @extend %inh;
    font-size: 36;
    font-style: oblique;
}

.sub {
    @extend %inh;
    font-size: 22px;
}

ol {
    font-size: 18px;

    li {
        color: black;
    }

    ul {
        color: red;
    }
}

div {
    p {
      font-size: 25px;
    }
}
